/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html{
  box-sizing: border-box;

  body{
    background: rgb(93, 170, 240);
    margin: 0;
  }
}
