<div class="container">
  <header>
    <h1>YouTube to Mp3</h1>
    <a routerLink="/info"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"
       replaceUrl="replaceUrl"
    >
      Info
    </a>
  </header>

  <main>
    <form #formValue = "ngForm">
      <input #inputURL = "ngModel" ngModel type="text" name="video" placeholder="paste video URL">
      <button class="buttonConvert" (click)="convertVideo(formValue.value)">Convert</button>
    </form>



    <div *ngIf="link" class="linkDownload">
      <a href="{{link}}">Load Mp3</a>
    </div>
  </main>


</div>
